<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      function search() {
        var searchString = document.getElementById("search").value;
        data = axios.post(
          "/api/product",
          (query = { searchString: searchString.toLowerCase() })
        );
      }
    </script>
    <div>
      <input
        id="search"
        type="text"
        name="search"
        placeholder="search"
        oninput="search()"
      />
    </div>
  </body>
</html>
